{% extends 'pages/errors/_error_base.html' %}

{% block auth_title %}Richiesta non valida{% endblock %}
{% block err_icon %}ph-warning{% endblock %}
{% block err_message %}La richiesta non è nel formato atteso. Riprova o torna alla home.{% endblock %}

{% block err_actions %}
<a href="/" class="al-btn al-btn-bronze">
    <i class="ph ph-house"></i>
    <span>Torna alla home</span>
</a>
{% endblock %}

{% block err_foot %}Hai bisogno di aiuto? <a href="/" class="al-link al-link-bronze">Contatta il supporto</a>{% endblock %}
